.ant-collapse-borderless > .ant-collapse-item {
    border: 1px solid #EAEAEA;
    border-radius: 0;
}

.ant-collapse-content {
    padding: 0;
    border: none;
}

.ant-radio-group {
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #eaeaea;
}

.ant-radio-button-wrapper:first-child {
    border-left: 1px solid transparent;
}

.ant-radio-button-wrapper {
    border: none;
}

.ant-form-item {
    margin: 0;
}
