.ant-layout-content {
    background: #fff;
}

h1,  h2, h3, h4, h5 {
    margin: 0;
}

.google-login-button {
    font-family: Lato, sans-serif;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
    color: #e2402b;
}

.google-login-button-container {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-color: transparent;
}

.google-login-button-container:hover {
    border-color: #e2402b;
    background-color: '#fff';
}

.ant-form-item {
    margin-bottom: 10px;
}