@import url('https://fonts.googleapis.com/css?family=Lato:400,700,300|Montserrat:400,500|Nunito');
* {
  -webkit-overflow-scrolling: touch;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #fff !important;
}

.aq-page-container {
  margin: 0 30px !important;
}

h1, h2, h3, h4, h5 {
	padding: 0;
	margin :0;
	font-family: 'Lato', sans-serif;
}
/* 
.primary-btn { 
    background-color: #26899A;
    border-radius: 2px;
    color: #fff;
    width: 150px;
    border: none;
}

.secondary-btn {
    background-color: #fff;
    border-radius: 2px;
    color: #26899A;
    border: 1px solid #26899A;
    width: 150px;
}
 */

 .ant-layout-content {
   width: 100% !important;
   height: 100% !important;
 }

.animated-page-wrapper {
	position: absolute;
	top: 62px;
	left: 0;
	width: 100%;
	height: 100%;
}

.ant-divider-horizontal {
  	margin: 0;
}

.ant-col-18 {
    padding: 0 !important;
}

.row-container {
    padding: 10px 20px;
}

.highcharts-credits { 
	display: none;
}

.div-span {
	display: block;
	width: 200px;
	background-color: green !important;
}

.ant-modal-header {
	background-color: #ECEFF1 !important;
  color: #fff;
}

.highcharts-button .highcharts-button-normal{
	z-index: 20;
}

.main-loader div{
	position: relative;
  margin-top: '200px';
}


.card{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px
}
  

.card-1 {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }
  
  .height_width_full{
	height: 100%;
	width: 100%;
  }
  
  .center-content{
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .ant-form.login-form {
	/* max-width: 300px; */
	text-align: left;
	margin-top: 20px;
  }
  .login-form-forgot {
	float: right;
  }
  .login-form-button {
	width: 100%;
  }
	
	
.ant-popover.ant-popover-placement-bottomRight .ant-popover-arrow,
.ant-popover.ant-popover-placement-bottomRight .ant-popover-inner{
  background: teal !important;
}

.ant-popover.ant-popover-placement-bottomRight .ant-popover-content{
  border-radius: 2px !important;
}

.ant-popover.ant-popover-placement-bottomRight .ant-popover-inner-content{
  padding: 0px !important;
}

.loggedinuser-menu-popup-header{
  padding: 10px;
  min-width: 300px;
  min-height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.loggedinuser-menu-popup-header h3{
  color: white;
  font-size: 13px;
  font-weight: bolder;
  margin:0px;
  text-align: right;
}

.loggedinuser-menu-popup-header p{
  color: white;
  font-size: 13px;
  margin:0px;
  text-align: right;
}

.loggedinuser-menu-popup-content{
  background: white;
}

.loggedinuser-menu-popup-content .row{
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #dfdfdf;
  cursor: pointer;
  align-items: center;
  font-size: 13px;
  color: #24293d;
  font-weight: bold;
}

.loggedinuser-menu-popup-content .row .icon{
  color: #cc6666;
  margin-right: 10px;
  font-size: 20px;
}

.advice-card {
  background-color: #fff;
  padding: 10px 5px 10px 10px;
  border: 1px solid #eaeaea;
  margin: 15px 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(171, 171, 171, 50);
  transition: all 0.3s ease-in-out;
}

.advice-card:hover {
  box-shadow: 0 6px 10px rgba(171, 171, 171, 50);
}

.signup-form-item {
  margin-bottom: 10px;
}

.action-button {
  width: 100%;
  height: 65px;
}

.action-button-small {
  width: 200px;
}

.ant-spin-blur {
  opacity: 0 !important;
}

.ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
  overflow-x: visible !important;
}

.ant-table td { white-space: nowrap; }